<%- include("partials/header") %>

<div class="container">
    <h1>Add New Comment</h1>
    <form action="/candles/:<%= candleId %>/comments" method="POST">
        <div class="form-group">
            <label for="user">Username</label>
            <input type="text" name="user" id="user" class="form-control" placeholder="username" required autofocus>

        </div>
        <div class="form-group">
            <label for="text">Comment Text</label>
            <textarea class="form-control" name="text" id="text" rows="8" cols="80" placeholder="Comment here" required></textarea>
        </div>
        <input type="hidden" name="candleId" value="<%= candleId %>">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


<%- include("partials/footer") %>